<%= form_for @micropost, data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field my-3">
    <%= f.text_area :content, placeholder: "Compose new micropost...", class:"form-control"%>
  </div>
  <span>
    <%= f.file_field :picture %>
  </span>
  <p class="mt-3">
  <%= f.submit "Post", class: "btn btn-primary" %>
  </p>
<% end %>
